@model MALL.Models.brand

@{
    ViewBag.Title = "Details"; Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<img style="height:2px;width:100%" src="../images/l.jpg" alt="First slide">


<h2 class="text-primary" style="text-align:center">
    More details:
</h2>

<img style="height:2px;width:100%" src="../images/l.jpg" alt="First slide">

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description_brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description_brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_brand)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_brand }) |
    @Html.ActionLink("Back to List", "Index")
</p>
